{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper" >
    
    <header>
        <nav class="log-nav">
            <h1>Hello! ✅</h1>
            
                <li id="root"></li>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('project_user', {idUser:app.user.id})}}"><p>Bonjour {{ app.user.nickname }}</p></a>
                <li><a href="{{ path('project_logout')}}">Déconnection-Track-Mec</a></li>

            {% endif %}
            {% if is_granted('ROLE_MUSE') %}       
                <li><a href="{{ path('project_create_project')}}">Crea-Track-Mec</a></li>

            {% else %}    
               <li><a href="{{ path('project_log')}}">Connection-Track-Mec</a></li>
                <li><a href="{{ path('project_registery')}}">Inscription-Track-Mec</a></li>
                
            {% endif %}
        </nav>
    </header>
</div>
    
</div>

<div class="container">
    {% for repoProject in projectbyStatusVote %}
        <div class="row">
            <div class="col order-last">
                <div class="card" style="width: 18rem;">
                    <img src="https://fr.web.img4.acsta.net/r_1920_1080/pictures/22/03/03/15/50/2634051.jpg" class="card-img-top" alt="..." width="400">
                        <div class="card-body">
                            <h5 class="card-title">{{repoProject.ProjectName}}</h5>
                            <p class="card-text">..</p>
                            <a href="#" class="btn btn-primary">En savoir plus</a>
                        </div>
                </div>    
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
